<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yjys">

    <queries>
        <package android:name="com.tencent.mobileqq"></package>
        <package android:name="com.tencent.tim"></package>
        <package android:name="com.tencent.mm"></package>
        <package android:name="com.tencent.qqlite"></package>
        <package android:name="com.qzone"></package>
        <package android:name="com.tencent.tbs"></package>
        <package android:name="com.tencent.qqlite"></package>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.example.yjys.application.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        >

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name="com.example.yjys.faxianui.MusicScanerActivity" android:exported="true"/>
        <activity android:name="com.example.yjys.faxianui.MusicPlayActivity" android:exported="true"/>
        <activity android:name="com.example.yjys.faxianui.MusicActivity" android:exported="true"/>
        <activity android:name="com.example.yjys.History" android:exported="true"/>
        <activity android:name="com.example.yjys.Favorites" android:exported="true"/>
        <activity android:name="com.example.yjys.TianQi" android:exported="true"/>

        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.example.yjys.Scanner"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.example.yjys.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yjys.Play"
            android:configChanges="orientation|screenSize|keyboardHidden" android:exported="true"/>
        <activity android:name="com.example.yjys.MainActivity" android:exported="true"/>

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101904713" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"/>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"
            android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yjys.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.example.yjys.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>